@page "/"
@rendermode InteractiveServer



<PageTitle>Início - WeatherApp</PageTitle>

<div class="hero-container">
    <span class="bi bi-cloud-sun hero-icon"></span>
    <h1 class="hero-title">Bem-vindo ao Clima App</h1>
    <p class="hero-subtitle">Seu assistente pessoal para a previsão do tempo.</p>
    <a href="/weather" class="btn btn-primary btn-lg mt-3">
        <span class="bi bi-search"></span> Consultar Clima
    </a>
</div>